@import url("stylus/normalize.styl");
@import url("foundation.min.css");
body{background:#2c3e50;color:#fff;font-size:16px;text-align:center}section{width:90%;margin:0 auto}header h1{color:#fff}fieldset{border:none;display:inline-block;vertical-align:top;width:32%}p{text-align:left;font-size:1.2em}